<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MultiShop - Online Shop Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/Content/animate.min.css" rel="stylesheet">
    <link href="~/Content/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/Content/style_user.css" rel="stylesheet">

    <link href="~/Content/new.css" rel="stylesheet">
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row bg-secondary py-1 px-xl-5 flex-nowrap">
            <div class="col-lg-4 d-none d-lg-block">
                <div class="col-lg-4">
                    <a href="@Url.Action("Index")" class="logo text-decoration-none">
                        <span class="imgcontainer">
                            <img src="~/Images/Logo.png" alt="Logo" class="logo">
                        </span>
                        <span class="h1 text-custom px-2 ml-n1">MultiStore</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-6 text-left">
                @using (Html.BeginForm("SearchProduct", "User", FormMethod.Get, new { @class = "search-form" }))
                {
                    <div class="input-group">
                        @Html.TextBox("searchTerm", null, new { @class = "form-control", placeholder = "Search for products" })
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-link input-group-text bg-transparent text-primary" style="border: none;">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                }


            </div><div class="col-lg-2 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">@ViewBag.Username</button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="@Url.Action("EditUserPage", "User", new { area = "User" })" class="dropdown-item" role="button">Edit Profile</a>
                            <a href="@Url.Action("Logout", "User", new { area = "User" })" class="dropdown-item" role="button">Log out</a>
                        </div>
                    </div>
                </div>
                <div class="d-inline-flex align-items-center d-block d-lg-none">
                    <a href="" class="btn px-0 ml-2">
                        <i class="fas fa-heart"></i>
                        <span class="badge border border-dark rounded-circle" style="padding-bottom: 2px;">@ViewBag.WishlistCount</span>
                    </a>
                </div>
            </div>
        </div>

    </div>
    <!-- Topbar End -->


    @RenderBody()

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-secondary mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <h5 class="text-secondary text-uppercase mb-4">Get In Touch</h5>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>multistore357@gmail.com</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">Quick Shop</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="@Url.Action("Index")"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-secondary mb-2" href="@Url.Action("Shops")"><i class="fa fa-angle-right mr-2"></i>Shops</a>
                            <a class="text-secondary mb-2" href="@Url.Action("Products")"><i class="fa fa-angle-right mr-2"></i>Products</a>
                            <a class="text-secondary mb-2" href="@Url.Action("Wishlist")"><i class="fa fa-angle-right mr-2"></i>Wishlist</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">Newsletter</h5>
                        <p>Subscribe to our newletter for latest updates</p>
                        <form action="">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Your Email Address">
                                <div class="input-group-append">
                                    <button class="btn btn-primary">Sign Up</button>
                                </div>
                            </div>
                        </form>
                        <h6 class="text-secondary text-uppercase mt-4 mb-3">Follow Us</h6>
                        <div class="d-flex">
                            <a class="btn btn-primary btn-square" href="https://instagram.com/official_multistore?igshid=OGQ5ZDc2ODk2ZA=="><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-secondary">
                    &copy; <a class="text-primary" href="#">Domain</a>. All Rights Reserved. Designed
                    by
                    <a class="text-primary" href="#">Rawan Alshammari</a>
                </p>
            </div>
            <div class="col-md-6 px-xl-0 text-center text-md-right">
                <img class="img-fluid" src="img/payments.png" alt="">
            </div>
        </div>
    </div>

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

    <!-- Scripts -->


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

    <script src="~/Scripts/easing.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="~/Scripts/jqBootstrapValidation.min.js"></script>
    <script src="~/Scripts/contact.js"></script>

    <!-- Template Javascript -->
    <script src="~/Content/main.js"></script>

</body>
</html>