@model UI.Areas.Admin.Controllers.AddProductModel

@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="inSidebarContainer">
    <div class="topnav">
        <a href="@Url.Action("Logout", "Admin", new { area = "Admin" })" class="material-symbols-outlined">logout</a>
        <a href="#contact" class="material-symbols-outlined">account_circle expand_more</a>
        @using (Html.BeginForm())
        {
            <button type="submit">Search</button>
            @Html.TextBox("searchInput", null, new { @class = "form-control", placeholder = "Search..." })

        }
    </div>
</div>

<div class="mainPage">
    <h2>AddProduct</h2>



    @using (Html.BeginForm("NewProduct" , "Admin" , FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

<div class="container">
    <h4>Product</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.product.name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.product.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.product.name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.product.category_id, "category_id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.product.category_id, (IEnumerable<SelectListItem>)ViewData["category_id"], "-- Select a category --", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.product.category_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.product.description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.product.description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.product.description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Image, new { type = "file", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group mt-2">
            <div class="col-md-offset-2 col-md-10 d-flex justify-content-between">
                <div class="btn btn-default admin-button">
                    @Html.ActionLink("Back to List", "Products")
                </div>
                <input type="submit" value="Create" class="btn btn-default admin-button" />
            </div>
        </div>
    </div>
    }

    
</div>
