@model UI.Areas.Admin.Controllers.CategoryViewModel

@{
    ViewBag.Title = "Category Details";
    ViewBag.CssFileName = "products.css";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    .indented {
        font-size: x-large;
        margin-left: 80px; /* adjust the value as needed */
    }
</style>

<div class="inSidebarContainer">
    <div class="topnav">
        <a href="@Url.Action("Logout", "Admin", new { area = "Admin" })" class="material-symbols-outlined">logout</a>
        <a href="#news" class="material-symbols-outlined">notifications</a>
        <a href="#contact" class="material-symbols-outlined">account_circle expand_more</a>
    </div>
</div>

<div class="mainPage">
    <h1>Category Details</h1>

    <hr />
    <br />
    <br />

    <h2>Category Id: </h2><p class="indented">@Model.CategoryId</p>
    <h2>Name: </h2>    <p class="indented">@Model.Name</p>
    <h2>Parent Id: </h2> 
    @if (Model.ParentId != null) { 
        <p class="indented">@Model.ParentId</p>
    }
    else
    {
        <p class="indented">None</p>
    }
    <div class="grid-container">
        @foreach (var item in Model.Products)
        {
            <div class="grid-item">
                    <div class="image-container">
                        @{
                            if (item.image != null)
                            {
                                var base64 = Convert.ToBase64String(item.image);
                                var imgSrc = string.Format("data:image/jpg;base64,{0}", base64);



                                <img src="@Url.Content(@imgSrc)" alt="@item.name" />
                            }
                        }
                    </div>
                    <div class="product-info">
                        <h3>@item.name<br /></h3>
                        <p>@item.Category.name</p><br />
                        <div class="buttons">
                            @Html.ActionLink("Edit", "EditProduct", new { id = item.id }, new { @class = "material-symbols-outlined link" })
                            <a href="@Url.Action("DeleteProduct", new { id = item.id })" class="material-symbols-outlined link delete-product-link" data-confirm-message="Are you sure you want to delete this product?">Delete</a>
                        </div>
                    </div>
            </div>


        }

    </div>



</div>