@model IEnumerable<Object_Layer.Store>

@{
    ViewBag.Title = "Stores";
    ViewBag.CssFileName = "stores.css";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="inSidebarContainer">
    <div class="topnav">
        <a href="@Url.Action("Logout", "Admin", new { area = "Admin" })" class="material-symbols-outlined">logout</a>
        <a href="#contact" class="material-symbols-outlined">account_circle expand_more</a>
    </div>
</div>


<div class="mainPage">
    <h1>Stores</h1>
    @*    <p>
            @Html.ActionLink("Create New", "Create")
        </p>*@
<div class="upper-section">
    @using (Html.BeginForm("AddStore", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="addCatagories">
            <h2>Add a new Store</h2>
            <input type="text" name="name" id="name" placeholder="Name"><br>
            <input type="file" name="image" id="image" placeholder="Store Logo"><br>
            <input type="text" name="address" id="address" placeholder="Address"><br>
            <input type="text" name="city" id="city" placeholder="City"><br>
            <input type="text" name="state" id="state" placeholder="State"><br>
            <input type="text" name="country" id="country" placeholder="Country"><br>
            <input type="text" name="zip_code" id="zip_code" placeholder="Zip Code"><br>
            <button type="submit" class="add-product-button">Add</button>
        </div>

    }

    <a href="@Url.Action("AddLocation" , "Admin")" class="add-product-button">Add Location</a>
</div>
<div class="lower-section">
    <h2>View Stores</h2>
    <div class="table">
        <table class="viewCatagories">

            <tr>
                <th class="table-cell heading">
                    @Html.DisplayNameFor(model => model.id)
                </th>
                <th class="table-cell">
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th class="table-cell">
                    @Html.DisplayNameFor(model => model.address)
                </th>
                <th class="table-cell">
                    @Html.DisplayNameFor(model => model.city)
                </th>
                <th class="table-cell heading">
                    @Html.DisplayNameFor(model => model.state)
                </th>
                <th class="table-cell heading">
                    @Html.DisplayNameFor(model => model.zip_code)
                </th>

                <th>
                    Edit
                </th>
                <th>
                    Details
                </th>
                <th>
                    Delete
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td id="@item.id" class="table-cell">
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td class="table-cell link">
                        @*@Html.ActionLink(item.Name, "Store", "Admin", new { id = item.id }, null)*@
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td class="table-cell">
                        @Html.DisplayFor(modelItem => item.address)
                    </td>
                    <td class="table-cell">
                        @Html.DisplayFor(modelItem => item.city)
                    </td>
                    <td class="table-cell">
                        @Html.DisplayFor(modelItem => item.state)
                    </td>
                    <td class="table-cell">
                        @Html.DisplayFor(modelItem => item.zip_code)
                    </td>
                    <td class="table-cell">
                        @using (Html.BeginForm("EditStore", "Admin", new { id = item.id }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <button type="submit" class="material-symbols-outlined link-button">Edit</button>
                        }
                    </td>
                    <td class="table-cell">
                        @using (Html.BeginForm("StoreDetails", "Admin", new { id = item.id }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <button type="submit" class="material-symbols-outlined link-button">Info</button>
                        }
                    </td>
                    <td class="table-cell">
                        @using (Html.BeginForm("DeleteStore", "Admin", new { id = item.id }, FormMethod.Post, new { onsubmit = "return confirm('Are you sure you want to delete this store?');" }))
                        {
                            @Html.AntiForgeryToken()
                            <button type="submit" class="material-symbols-outlined link-button">Delete</button>
                        }
                    </td>
                </tr>
            }

        </table>
    </div>
    </div>



</div>




