<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/sideNav.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/" + ViewBag.CssFileName)" rel="stylesheet">+
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    @*    <link href="~/Content/bootstrap.min.css" rel="stylesheet">*@
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="sideNavBar">
        <ul>
            <a class="navLogo" href="@Url.Action("Index" , "Admin" , new { area = "Admin"})">
            <li><img src="~/Images/navLogoText.png" alt="logo"></li></a>
            <span class="sideNavButtons">

                <a href="@Url.Action("Index", "Admin", new { area = "Admin" })">
            <li>Dashboard</li>
            </a>

            <a href="@Url.Action("Categories", "Admin", new { area = "Admin" })">
            <li>Categories</li>
            </a>

            <a href="@Url.Action("Stores", "Admin", new { area = "Admin" })">
            <li>Stores</li>
            </a>

            <a href="@Url.Action("Products", "Admin", new { area = "Admin" })">
            <li>Products</li>
            </a>

            <a href="@Url.Action("User_Menu", "Admin", new { area = "Admin" })">
            <li>Users Data</li>
            </a>


            <a href="@Url.Action("Featured_Images", "Admin", new { area = "Admin" })">
            <li>Featured Images</li>
            </a>
            </span>
        </ul>
    </div>


    @RenderBody()

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    @* Add the following script to populate the dropdown with product names matching the search input *@
    @section scripts {
        <script type="text/javascript">
        $(document).ready(function () {
            $('#searchInputProducts').keyup(function () {
                var searchText = $(this).val().toLowerCase();
                if (searchText.length >= 3) {
                    $.ajax({
                        url: '@Url.Action("GetProducts", "Products")',
                        type: 'POST',
                        data: { searchText: searchText },
                        success: function (response) {
                            $('#searchDropdown').find('.dropdown-menu').empty();
                            if (response.length > 0) {
                                $('#dropdownMenuButton').removeAttr('disabled');
                                $.each(response, function (index, value) {
                                    var listItem = $('<a class="dropdown-item" href="#">' + value + '</a>');
                                    $('#searchDropdown').find('.dropdown-menu').append(listItem);
                                    listItem.click(function (e) {
                                        e.preventDefault();
                                        $('#searchInputProducts').val(value);
                                        $('#searchForm').submit();
                                    });
                                });
                            }
                            else {
                                $('#dropdownMenuButton').attr('disabled', true);
                            }
                        }
                    });
                }
                else {
                    $('#dropdownMenuButton').attr('disabled', true);
                }
            });
        });
        </script>


        <script>
            $(document).on('click', '.delete-product-link', function (event) {
                var confirmMessage = $(this).data('confirm-message');
                if (!confirm(confirmMessage)) {
                    event.preventDefault();
                }
            });
        </script>
    }

</body>
</html>